$secondaryColor: #f60;
$thirdColor: #999;
$defaultFontSize: 2rem;
$fontFamily:'helvetica', roboto;
$fontColor:#999;
$fontVariantOne: 700;
$primaryColor:#666;

.hello-container{
  width:100%;
  margin:0 auto;
  border-left:1px solid $thirdColor;
  border-top:1px solid $thirdColor;
  border-right:1px solid $thirdColor;
  border-bottom:1px solid $secondaryColor;
}

h1{
  text-align: center;
  color:$primaryColor;
  font-weight: $fontVariantOne;
  text-transform: uppercase;
}