$secondaryColor: #f60;
$thirdColor: #999;
$defaultFontSize: 2rem;
$fontFamily:'helvetica', arial;
$fontColor:#999;
$fontVariantOne: 700;

.hello-container{width:900px; margin:0 auto; border:1px solid $thirdColor}

h1{
  text-align: center;
  color:$primaryColor;
  font-weight: $fontVariantOne;
  text-transform: uppercase;
}